<div class="container">
  <h2>Home page - Sign up</h2>
  <form [formGroup]='appForm'>
    <div class="col-sm-6">
      <label aria-describedby="First Name">First Name *</label>
      <app-input formControlName='sellOne'></app-input><br>
    </div>
    <div class="col-sm-6">
      <label aria-describedby="First Name">Last Name *</label>
      <app-input formControlName='sellOne'></app-input><br>
    </div>
    <div class="col-sm-6">
      <label aria-describedby="First Name">Date of Birth*</label>
      <app-input formControlName='sellOne'></app-input><br>
    </div>
    <div class="col-sm-6">
      <label aria-describedby="First Name">Phone no*</label>
      <app-input formControlName='sellOne'></app-input><br>
    </div>
    <div class="col-sm-6">
      <input type="button" class="btn btn-primary form-control" (click)="showControl()" value="Sign up">
    </div>
  </form>
</div>