/* You can add global styles to this file, and also import other style files */
body {
    background: #252626;
    color: #fff;
}
.container {
    margin-top: 2em;
    
}
header nav {
    background-color: #88082b;
    color: #fff;
}

a {
    color: #fff;
}

a:hover {
    color: #efefef;
}
.navbar-toggler-icon {
    background-image: url("./assets/img/menu-alt-512.png");
}